@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  background: white;
}

a{
  color: inherit;
  text-decoration: none;
  transition: 0.5s all;
}

.navigation-anchor{
  transition: 0.5s all;
}
.navigation-anchor:hover{
  color: lightgrey;
  transform: scale(1.15);
}
.navigation-button:hover{
  color: lightgray;
  background: rgba(128,128,128,0.6);
  border: 1px solid lightgray;
  transform: scale(1.15);
}
.top-card-container{
  width: 100%;
  height: 100vh;
  background-image: url("../img/code-js-programming.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: Montserrat;
  font-weight: 800;
  color: white;
  display: sticky;
  text-align: center;
}

.top-card-container-blur{
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}

.top-card-container-title{
  font-size: 7vmin;
  position: sticky;
  z-index: 1;
}
.top-card-container-subtitle{
  font-size: 4vmin;
  position: sticky;
  z-index: 1;
}

@keyframes icon-float{
  0%{
    transform: translateY(-.5em);
  }
  100%{
    transform: translateY(0.5em);
  }
  0%{
    transform: translateY(-0.5em);
  }
}

.top-card-container-animated-icon{
  font-size: 4vmin;
  position: sticky;
  z-index: 1;
  margin-top: 1em;
  animation: 1s icon-float infinite alternate;
}
.top-card-container-static-icon{
  font-size: 3vmax;
  position: sticky;
  z-index: 1;
}
.card-container{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 15vmin;
  font-size: 1.6vmax;
  flex-flow: column nowrap;
  font-family: Montserrat;
  justify-content: center;
  gap: 1vmin;
  border-bottom: 2.5px solid black;
}

.card-container-title{
  font-weight: 800;
  font-size: 3em;
  white-space: nowrap;
}

.card-container-subtitle{
  font-weight: 600;
  font-size: 2em;
}

.card-container-paragraph{
  font-weight: 400;
  font-size: 1.5em;
}

.navigation-scrollable-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  text-align: center;
  gap: 1em;
  padding: .7em;
  font-weight: 500;
}

.navigation-container{
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  font-family: Montserrat;
  color: white;
  font-weight: 600;
  top: 0px;
  z-index:2;
  align-items: center;
  width: 100%;
  padding: 1em;
  height: 3em;
  gap: .5em;
  justify-content: space-between;
}

.navigation-title{
  gap: .5em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.navigation-button-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: .5em;
}

.navigation-button{
  z-index: 2;
  padding: .25em;
  border-radius: 10px;
  border: 1px solid white;
  font-weight: 800;
  font-size: 1em;
  color: white;
  font-family: Montserrat;
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  white-space:nowrap;
  background: none;
  transition: .5s all;
}
.navigation-background{
  position: fixed;
  top: 0px;
  z-index:-2;
  width: 100%;
  height: 3em;
  padding: 1em;
  background: black;
}

.card-container-section{
  display: flex;
  flex-flow: row wrap;
  flex: 0;
}


