@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 8vmin;
  font-family: Open Sans;
}



.distance{
  font-size: .2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  user-select: none;
  text-align: center;
  flex: 1;
}

chess-tile{
  transition: .5s all;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1em solid rgba(0,0,0,0);
  font-weight: 600;
  position: relative;
}

chess-tile[color="black"]{
  background: peru;
}

chess-tile[color="white"]{
  background: antiquewhite;
}

chess-tile.drag-over{
  border: .1em solid rgba(200,200,200,0.6);
}
chess-tile.invalid-move{
  border: .1em solid rgba(255,0,0,0.6);
}
chess-tile.selected-piece{
  border: .1em solid rgb(50,205,50,0.8);
}

chess-tile::after{
  content:attr(bottom-right-corner);
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  height: 100%;
  font-size: .2em;
  font-weight: 800;
  box-sizing: content-box;
  position: absolute;
  pointer-events: none;
}

chess-tile::before{
  content:attr(top-left-corner);
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 100%;
  font-size: .2em;
  font-weight: 800;
  box-sizing: content-box;
  position: absolute;
  pointer-events: none;
}

.possible-move::before{
  content: ' ';
  background-color: limegreen;
  padding: .25em;
  font-size: .5em;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}
.possible-move::after{
  content: ' ';
  background-color: limegreen;
  padding: .25em;
  font-size: .5em;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}
.possible-capture::before{
  content: ' ';
  background-color: gold;
  padding: .25em;
  font-size: .5em;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}
.possible-move::after{
  content: ' ';
  background-color: limegreen;
  padding: .25em;
  font-size: .5em;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}
chess-tile[color='white']::before{
  color: peru;
}

chess-tile[color='black']::before{
  color: antiquewhite;
}
chess-tile[color='white']::after{
  color: peru;
}

chess-tile[color='black']::after{
  color: antiquewhite;
}
chess-piece{
  height: 4vmin;
  width: 4vmin;
  font-size: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  user-select: none;
  font-weight: 100;
}


chess-piece[color='white']{
  color: antiquewhite;
  -webkit-text-stroke: .025em black;
}

chess-piece[color='black']{
  color: black;
  -webkit-text-stroke: .0em black;
}

chess-game{
  width: 9em;
  height: 11em;
  background: saddlebrown;
  border: .5em solid saddlebrown;
  border-radius: 20px;
}

chess-display{
  font-size: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;padding: 3em;
  background-color: peru;
  color: antiquewhite;
  font-family: Merriweather;
  font-weight: 800;
  border-top: 2em solid saddlebrown;
}

chess-board{
  width: 8em;
  height: 8em;
  display: grid;
  margin: auto;
  
  justify-content: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

chess-piece.dragged{

}

