@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.rome-container{
  background: white;
  padding: 10vmin;
  font-family: "Montserrat";
  font-size: 20px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.rome-title{
  font-weight: 800;
  font-size: 2em;
  text-align: center;
}

.rome-grid-item{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.rome-grid-image{
  background: red;
  flex: 1;
  display: flex;
  border: none;
  border-radius: 10px;
}

.rome-grid-container{
  background: #cacaca;
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 10px;
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
}
